@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-primary-light: #1A2D4A;
  --color-surface: #121C2B;
  --color-background: #090E17;
  --color-text-main: #F8FAFC;
  --color-text-muted: #94A3B8;
  --color-border: #1F2D40;
  --color-danger: #EF4444;

  --font-sans: 'Tajawal', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background-color: var(--color-background);
  background-image: radial-gradient(var(--color-border) 1px, transparent 1px);
  background-size: 24px 24px;
  color: var(--color-text-main);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--color-primary-light);
  color: var(--color-primary);
}
